%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Developer CV
% LaTeX Template
% Version 1.1 (February 24, 2025)
%
% This template originates from:
% https://www.LaTeXTemplates.com
%
% Authors:
% Jan Vorisek (jan@vorisek.me)
% Based on a template by Jan Küster (info@jankuester.com)
% Modified for LaTeX Templates by Vel (vel@LaTeXTemplates.com)
%
% License:
% The MIT License (see included LICENSE file)
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%----------------------------------------------------------------------------------------
%    PACKAGES AND OTHER DOCUMENT CONFIGURATIONS
%----------------------------------------------------------------------------------------

\documentclass[9pt]{developercv} % Default font size, values from 8-12pt are recommended
\usepackage{enumitem}


%----------------------------------------------------------------------------------------

\begin{document}

%----------------------------------------------------------------------------------------
%    TITLE AND CONTACT INFORMATION
%----------------------------------------------------------------------------------------

\begin{minipage}[t]{0.45\textwidth}
\vspace{-\baselineskip}
\colorbox{black}{{\HUGE\textcolor{white}{\textbf{\MakeUppercase{<< first_name >>}}}}}

\colorbox{black}{{\HUGE\textcolor{white}{\textbf{\MakeUppercase{<< last_name >>}}}}}

\vspace{6pt}

{\huge << title >>}
\end{minipage}
\hfill
\begin{minipage}[t]{0.27\textwidth} % Center column with icons
\vspace{-\baselineskip}

\icon{MapMarker}{12}{<< location >>}\\
\icon{Phone}{12}{<< phone >>}\\
\icon{At}{12}{\href{mailto:<< email >>}{<< email >>}}\\
\end{minipage}
\hfill
\begin{minipage}[t]{0.27\textwidth} % Right column with icons
\vspace{-\baselineskip}

\icon{Globe}{12}{\href{https://www.<< github >>}{<< github >>}}\\
\icon{Linkedin}{12}{\href{https://www.<< linkedin >>}{<< linkedin >>}}\\
\end{minipage}

\vspace{0.5cm}

%----------------------------------------------------------------------------------------
%    INTRODUCTION & SKILLS
%----------------------------------------------------------------------------------------

\cvsect{Summary}

\begin{minipage}[t]{0.4\textwidth} % Left column with the introduction text, change the width as needed
\vspace{-\baselineskip} % Required for vertically aligning minipages
<< summary >>
\end{minipage}
\hfill
\begin{minipage}[t]{0.5\textwidth} % Right column with the skills bar chart, change the width as needed
% Required for vertically aligning minipages
\vspace{-\baselineskip} % Required for vertically aligning minipages
\vspace{-\baselineskip} % Required for vertically aligning minipages
\vspace{-\baselineskip} % Required for vertically aligning minipages
\vspace{-\baselineskip}
\cvsect{Technical Proficiencies}
[% for category, skills in technical_proficiencies.items() %]
\textbf{<< category.replace('_', ' ') >>:} << skills | join(', ') >> \\
[% endfor %]
\end{minipage}

\vspace{0.5cm}

%----------------------------------------------------------------------------------------
%    ACCOMPLISHMENTS SECTION
%----------------------------------------------------------------------------------------

\cvsect{ACCOMPLISHMENTS}
\begin{itemize}
[% for acc in accomplishments %]
\item[-] << acc >>
[% endfor %]
\end{itemize}

%----------------------------------------------------------------------------------------
%    EXPERIENCE
%----------------------------------------------------------------------------------------

\cvsect{Experience}

\begin{entrylist}
[% for job in experience %]
\entry
{<< job.date >>}
{<< job.title >>}
{<< job.company >>}
{<< job.duties | join('\\\\') >>}
[% endfor %]
\end{entrylist}

%----------------------------------------------------------------------------------------
%    EDUCATION
%----------------------------------------------------------------------------------------

\cvsect{Education}

\begin{entrylist}
[% for edu in education %]
\entry
{<< edu.date >>}
{<< edu.degree >>}
{<< edu.university >>}
{<< edu.location >>}
[% endfor %]
\end{entrylist}

%----------------------------------------------------------------------------------------
%    PROJECTS
%----------------------------------------------------------------------------------------

\cvsect{Personal Projects}
\begin{entrylist}
[% for proj in personal_projects %]
\entry
{<< proj.type >>}
{<< proj.title >>}
{\texttt{<< proj.technologies >>}}
{<< proj.description >>}
[% endfor %]
\end{entrylist}

%----------------------------------------------------------------------------------------

\cvsect{Hobbies}
\begin{itemize}[leftmargin=*]
[% for hobby in hobbies %]
\item[]<< hobby >>
[% endfor %]
\end{itemize}

\end{document}